<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="15385pikax.RevistaProgramarReader" Publisher="CN=6F48A3D8-E61B-4FC3-9284-DBA2D669C0F5" Version="1.1.0.2" />
  <Properties>
    <DisplayName>Revista Programar Reader</DisplayName>
    <PublisherDisplayName>pikax</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RevProgramarWin8.App">
      <VisualElements DisplayName="Revista Programar Reader" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Aplicação para fazer download de todas as edições da Revista PROGRAMAR. Aplicação permite visualizar as revistas em modo off-line, caso já tenha sido feito o download." ForegroundText="light" BackgroundColor="#222222" ToastCapable="false">
        <!--LockScreen Notification="" BadgeLogo="Assets\tilelogo.png" />-->
        <DefaultTile ShowName="wideLogoOnly" ShortName="GinManga" WideLogo="Assets\Wide310x150Logo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>